//Colores
$primary: #ff9f0d;
$secondary:  #212121;
$info: #9e9e9e;
$dark: #111111;

$display-font-family: 'Poppins', sans-serif;
$display-font-weight: 700;

$border-radius-lg: 85px;

@import "../../node_modules/bootstrap/scss/bootstrap";